{% extends 'admin/baseAdmin.html.twig' %}
{% block title %}
Catégories
{% endblock %}

{% block main %}

<h1 class="pb-5 text-center">{{ action=='create' ? 'Créer une nouvelle' : 'Modifier une' }} catégorie</h1>

{{ form_start(categoriesForm) }}

<div class="row">
  <div class="col-6">
    {{ form_row(categoriesForm.name) }}
  </div>
</div>

<div class="row">
  <div class="col-12 text-end">
    <a href="{{ path('admin_categories') }}" class="btn btn-outline-danger me-3 py-3">Annuler</a>
    {# Pas besoin de préciser le type du bouton #}
    <button class="btn btn-success p-3">{{ app.request.attributes.get('_route')=='category_create' ? 'Créer' :
      'Modifier'
      }}</button>
  </div>
</div>

{{ form_end(categoriesForm) }}




{% endblock %}